## Evaluate With Out PCA

In [1]:
import pandas as pd
df = pd.read_csv("../Data/Kmeans_Clusters.csv")
df

,Unnamed: 0,Balance,Balance_Frequency,Purchases,One_Off_Purchases,Installments_Purchases,Cash_Advance,Purchases_Frequency,One_Off_Purchases_Frequency,Purchases_Installments_Frequency,Cash_Advance_Frequency,Cash_Advance_Trx,Purchases_Trx,Credit_Limit,Payments,Minimum_Payments,Prc_Full_Payment,Tenure,Clusters
0,0,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12,2
1,1,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12,1
2,2,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12,0
3,3,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,0.000000,0.000000,12,0
4,4,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8871,8871,193.571722,0.833333,1012.73,1012.73,0.00,0.000000,0.333333,0.333333,0.000000,0.000000,0,2,4000.0,0.000000,0.000000,0.000000,6,2
8872,8872,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6,2
8873,8873,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6,2
8874,8874,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6,2
8875,8875,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6,2

In [2]:
clusters = df['Clusters']
data  = df.iloc[:,1:-1]

In [3]:
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score

silhouette_avg = silhouette_score(data, clusters)
print(f"Silhouette Score: {silhouette_avg}")
calinski_harabasz = calinski_harabasz_score(data, clusters)
print(f"Calinski-Harabasz Index: {calinski_harabasz}")
davies_bouldin = davies_bouldin_score(data, clusters)
print(f"Davies-Bouldin Index: {davies_bouldin}")

Silhouette Score: 0.3969956620665523
Calinski-Harabasz Index: 2658.3504942796176
Davies-Bouldin Index: 1.4029610362173446

## Evaluate With PCA

In [4]:
import pandas as pd
df = pd.read_csv("../Data/PCA_Clusters.csv")
df

,Unnamed: 0,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,Clusters
0,0,-1.686520,-1.088974,0.459314,0.697222,0.064202,0.082937,0.822029,-0.057782,3
1,1,-1.150334,2.487790,0.622042,-0.097306,0.713320,-1.065487,-0.344879,0.126617,2
2,2,0.961781,-0.393432,0.039577,1.276283,-2.107230,-0.412936,-1.592978,-0.094950,3
3,3,-0.913554,-0.036995,1.533938,1.058203,0.214211,-0.196015,-0.224845,-0.775408,3
4,4,-1.600294,-0.699565,0.295257,1.045982,-0.426078,0.077209,0.706174,0.184979,3
...,...,...,...,...,...,...,...,...,...,...
8871,8871,-1.128798,-0.870673,1.274826,-1.028105,-0.863815,3.285747,-1.732614,-0.572135,0
8872,8872,-0.357144,-2.022940,-0.903782,-2.772226,0.019370,2.684563,-1.538019,0.196791,0
8873,8873,-0.927315,-1.820645,-0.383916,-2.321573,0.116568,2.992822,-1.405571,-0.334831,0
8874,8874,-2.343425,-0.678619,1.033559,-1.812556,-0.181767,3.194405,-0.957038,0.131492,0
8875,8875,-0.573038,-0.421659,1.103764,-1.897345,-1.588495,3.613670,-1.481022,-0.307492,0

In [5]:
clusters = df['Clusters']

In [6]:
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score

silhouette_avg = silhouette_score(data, clusters)
print(f"Silhouette Score: {silhouette_avg}")
calinski_harabasz = calinski_harabasz_score(data, clusters)
print(f"Calinski-Harabasz Index: {calinski_harabasz}")
davies_bouldin = davies_bouldin_score(data, clusters)
print(f"Davies-Bouldin Index: {davies_bouldin}")

Silhouette Score: -0.05552714394813904
Calinski-Harabasz Index: 1050.097833248887
Davies-Bouldin Index: 3.1514177143694253

## Evaluate With Hierchal Clusturing

In [9]:
import pandas as pd
df = pd.read_csv("../Data/Hierarchical_PCA(2Clusters).csv")
df

,Unnamed: 0.1,Unnamed: 0,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,Clusters
0,0,0,-1.686520,-1.088974,0.459314,0.697222,0.064202,0.082937,0.822029,-0.057782,0
1,1,1,-1.150334,2.487790,0.622042,-0.097306,0.713320,-1.065487,-0.344879,0.126617,0
2,2,2,0.961781,-0.393432,0.039577,1.276283,-2.107230,-0.412936,-1.592978,-0.094950,0
3,3,3,-0.913554,-0.036995,1.533938,1.058203,0.214211,-0.196015,-0.224845,-0.775408,0
4,4,4,-1.600294,-0.699565,0.295257,1.045982,-0.426078,0.077209,0.706174,0.184979,0
...,...,...,...,...,...,...,...,...,...,...,...
8871,8871,8871,-1.128798,-0.870673,1.274826,-1.028105,-0.863815,3.285747,-1.732614,-0.572135,1
8872,8872,8872,-0.357144,-2.022940,-0.903782,-2.772226,0.019370,2.684563,-1.538019,0.196791,1
8873,8873,8873,-0.927315,-1.820645,-0.383916,-2.321573,0.116568,2.992822,-1.405571,-0.334831,1
8874,8874,8874,-2.343425,-0.678619,1.033559,-1.812556,-0.181767,3.194405,-0.957038,0.131492,1
8875,8875,8875,-0.573038,-0.421659,1.103764,-1.897345,-1.588495,3.613670,-1.481022,-0.307492,1

In [10]:
clusters = df['Clusters']

In [11]:
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score

silhouette_avg = silhouette_score(data, clusters)
print(f"Silhouette Score: {silhouette_avg}")
calinski_harabasz = calinski_harabasz_score(data, clusters)
print(f"Calinski-Harabasz Index: {calinski_harabasz}")
davies_bouldin = davies_bouldin_score(data, clusters)
print(f"Davies-Bouldin Index: {davies_bouldin}")

Silhouette Score: -0.02199203343551579
Calinski-Harabasz Index: 370.156169310612
Davies-Bouldin Index: 3.063294046483949